body{
    background-image: url(Images/bg2.jpg);
    padding:3px;
}

#tab{
    background-image: url(Images/bg.jpg);
}

.header {
    overflow: hidden;
    padding: 20px 10px;
    background: linear-gradient(to bottom right, #ffcc66 0%, #ff99cc 100%);
  }

  .header h3.logo {
    color: black;
    text-align: center;
    font-size: 3rem;
    font-weight:550;
  }
    
  @media screen and (max-width: 500px) {
    .header h3 {
      float: none;
      display: block;
      text-align: center;
    }
  }



